---
export interface ButtonProps {
  type?: 'primary' | 'secondary' | 'rarely';
  className?: '';
  onclick: () => void;
}

let { type = '', className = '', onclick = () => {} } = Astro.props;
---

<button
  class={`p-1 min-w-btn min-w-btn-${type} min-h-btn min-h-btn-${type} text-light text-size-xs leading-xs ${className} bg-primary bg-${type} ${
    type === 'primary'
      ? `py-9 px-10 flex items-center text-size-sm leading-sm justify-between`
      : ''
  }`}
  {onclick}
>
  <slot />
</button>
