---
export interface InputProps {
  className?: string;
  id?: string;
  placeholder?: string;
  name?: string;
  type: string;
  pattern?: string;
  maxlength?: number;
  readonly?: boolean;
  autoFocus?: boolean;
  required?: boolean;
  value?: string;
  size?: 'sm' | 'md' | 'lg';
  onChange?: (e: { target: HTMLInputElement }) => void;
  onBlur?: (e: { target: HTMLInputElement }) => void;
  onKeyDown?: (e: { target: HTMLInputElement }) => void;
  error?: string;
}

const {
  className = '',
  id = '',
  name = '',
  type = 'text',
  maxlength = '',
  pattern = '',
  placeholder = '',
  readonly = false,
  value = '',
  size = 'sm',
  onChange = () => {},
  onBlur = () => {},
  onKeyDown = () => {},
  required = false,
  error = ''
} = Astro.props;
---

<input
  readonly={readonly}
  autofocus
  type={type}
  name={name}
  placeholder={placeholder}
  required={required}
  id={id}
  class={`input input-${size} min-w-input-${size} min-h-input-${size} ${
    error ? 'input-error' : ''
  } ${className}`}
  value={value}
  maxlength={maxlength}
  pattern={pattern}
  size={size}
  onchange={onChange}
  onblur={onBlur}
  onkeydown={onKeyDown}
/>
{error && <label class="input-error-message">{error}</label>}
