---
export interface LinkButtonProps {
  size?: 'primary' | 'secondary' | 'rarely';
  className?: '';
  id?: string;
  href: string;
  onclick: () => void;
}

let { size = '', className = '', href = '' } = Astro.props;
---

<a
  href={href}
  class={`p-1 min-w-btn xl:min-w-btn-${size} min-h-btn md:min-h-btn-${size} text-light text-xs xs:text-size-xs leading-xs ${className} bg-primary bg-${size} py-3 px-3 xl:py-9 xl:px-10 flex items-center xl:text-size-sm leading-sm justify-between`}
>
  <slot />
</a>
