---
import { NAVIGATION } from 'src/constants/common';
import { ROUTES } from 'src/constants/routes';
import ResponsiveImage from 'components:ResponsiveImage';
import { Debug } from 'astro/components';

export interface HeaderProps {
  className?: string;
}

const { className = '' } = Astro.props;

const urlPathName = Astro.url.pathname?.replace('.html', '');
---

<header
  class={`flex items-center justify-between sm:max-w-part md:max-w-header ${className}`}
>
  <Debug answer={urlPathName} />
  <a class="mr-2" href={ROUTES.HOME}>
    <ResponsiveImage
      alt="Logo"
      width={{
        default: '22px'
      }}
      height={{
        default: '24px'
      }}
      url={{
        desktop: '/images/logo.webp',
        mobile: '/images/logo-mobile.webp',
        mobile2x: '/images/logo.webp',
        default: '/images/logo.png'
      }}
    />
  </a>
  <nav>
    <ul class="flex min-w-nav text-xs md:text-size-xs justify-between">
      {
        NAVIGATION.map((item, index) => (
          <li class="pr-1 cursor-pointer">
            <a
              class={`${urlPathName === item.href ? 'text-primary' : ''}`}
              href={item.href}
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
